<div class="bulk_results">
    
    <div class="list_header">
        <%= locale.get('bulk_upload_progress') %>
    </div>
    
    <div style="text-align: center;">

        <%= locale.get('proccessed') %>: <span id="proccessed">0</span> / <span id="all">0</span>; <%= locale.get('success') %>: <span id="success">0</span>; <%= locale.get('errors') %>: <span id="errors">0</span>;
        
        <br/>
        <div id="proggress"></div>
        
        <br/><br/>
        
        <img src="/i/small_loader.gif" style="margin: 35px 20px 6px;" />
        
    </div>
    
</div>