<div class="bootstrap-iso list">

    <div class="menu menu_left">
        <a href="#!/specials_list" class="black active"><%= locale.get('specials') %></a>
        <a href="#!/batch_list" class="black"><%= locale.get('batch_list') %></a>
    </div>
    
    <div class="menu menu_right">
        
        <a href="#" onclick="$('.menu_right a').removeClass('active');
                            $(this).addClass('active');
                            $('.specials_list').hide();
                            $('.specials_list_all').show();
                            return false" class="yellow"><%= locale.get('all') %></a>
                            
        <a href="#" onclick="$('.menu_right a').removeClass('active');
                            $(this).addClass('active');
                            $('.specials_list').hide();
                            $('.specials_list_active').show();
                            return false"><%= locale.get('active') %></a>
        
        <a href="#" onclick="$('.menu_right a').removeClass('active');
                            $(this).addClass('active');
                            $('.specials_list').hide();
                            $('.specials_list_queued').show();
                            return false" class="pink active"><%= locale.get('queued') %></a>
        
        <a href="#" onclick="$('.menu_right a').removeClass('active');
                            $(this).addClass('active');
                            $('.specials_list').hide();
                            $('.specials_list_declined').show();
                            return false" class="grey"><%= locale.get('declined') %></a>

        <a href="#" onclick="$('.menu_right a').removeClass('active');
                            $(this).addClass('active');
                            $('.specials_list').hide();
                            $('.specials_list_expired').show();
                            return false" class="red"><%= locale.get('expired') %></a>
        
    </div>

    <div class="specials_list specials_list_all">
        
        <%
        if (specials.all.length) { 
        %>
        <table class="table_specials_list display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Special name</th>
                <th>Store</th>
                <th>Website</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Views</th>
            </tr>
        </thead>
        <tbody>
        <%
        _.each(specials.all, function(item, key, list) {
            %>
            <tr class="specials_item <% if (!item.active) {%> deactivated <% } %>" id="<%= item.id  %>">
                <td class="specials_name1">
                    <% if (item.image) { %>
                        <img src="<%= item.image %>" />
                    <% } %>                    
                </td>

                <td>
                    <span class="name-wrapper"><%- _.truncate(item.name, 50) %></span>
                </td>
                 
                <td class="specials_store_name1"> 
                    <% if (item.store_name) { %>
                        <%= _.truncate(item.store_name, 50) %>
                    <% } else { %>
                        <%= locale.get('unknown_store') %>
                    <% } %>
                </td>
                
                <td class="specials_website1">
                    <% if (item.website) { %>
                        <a href="<%= item.website %>" target="_blank"><%= _.truncate(item.website, 24)  %></a>
                    <% } else { %>
                        <%= locale.get('no_website') %>
                    <% } %>
                </td>
                
                <td class="specials_date1 <% if (new Date().getTime() > moment(item.endsAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').valueOf()) {%> specials_expired<% } %>"><%= moment(item.createdAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').format('D MMMM YYYY') %></td>

                <td class="specials_date1 <% if (new Date().getTime() > moment(item.endsAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').valueOf()) {%> specials_expired<% } %>"><%= moment(item.endsAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').format('D MMMM YYYY') %></td>

                <td>
                    <span><%= item.views %></span>
                </td>                
            </tr>
            <%
        });
        %>

        </tbody>
        </table>
        
        <% if (specials.all.length >= 20000) { %><button class="button load_more" id="specials_all_load_more"><%= locale.get('load_more') %></button><% }
        
        } else {
        %>

        <div class="no_specials"><%= locale.get('no_all_specials') %></div>

        <%
        } 
        %>
    </div>

    <div class="specials_list specials_list_active">
        
        <%
        if (specials.active.length) { 
        %>
        <table class="table_specials_list display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Special name</th>
                <th>Store</th>
                <th>Website</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Views</th>
            </tr>
        </thead>
        <tbody>
        <%
        _.each(specials.active, function(item, key, list) {
            if (item.status != 1) return; 
            %>
            <tr class="specials_item <% if (!item.active) {%> deactivated <% } %>" id="<%= item.id  %>">
                <td class="specials_name1">
                    <% if (item.image) { %>
                        <img src="<%= item.image %>" />
                    <% } %>                    
                </td>

                <td>
                    <span class="name-wrapper"><%- _.truncate(item.name, 50) %></span>
                </td>
                 
                <td class="specials_store_name1"> 
                    <% if (item.store_name) { %>
                        <%= _.truncate(item.store_name, 50) %>
                    <% } else { %>
                        <%= locale.get('unknown_store') %>
                    <% } %>
                </td>
                
                <td class="specials_website1">
                    <% if (item.website) { %>
                        <a href="<%= item.website %>" target="_blank"><%= _.truncate(item.website, 24)  %></a>
                    <% } else { %>
                        <%= locale.get('no_website') %>
                    <% } %>
                </td>
                
                <td class="specials_date1 <% if (new Date().getTime() > moment(item.endsAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').valueOf()) {%> specials_expired<% } %>"><%= moment(item.createdAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').format('D MMMM YYYY') %></td>

                <td class="specials_date1 <% if (new Date().getTime() > moment(item.endsAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').valueOf()) {%> specials_expired<% } %>"><%= moment(item.endsAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').format('D MMMM YYYY') %></td>

                <td>
                    <span><%= item.views %></span>
                </td>                
            </tr>
            <%
        });
        %>

        </tbody>
        </table>
        
        <% if (specials.active.length >= 20000) { %><button class="button load_more" id="specials_active_load_more"><%= locale.get('load_more') %></button><% }
        
        } else {
        %>

        <div class="no_specials"><%= locale.get('no_active_specials') %></div>

        <%
        } 
        %>
    </div>

    <div class="specials_list specials_list_queued" style="display: block;">    
        
        <%
        if (specials.queued.length) { 
        %>
        <table class="table_specials_list display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Special name</th>
                <th>Store</th>
                <th>Website</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Views</th>
            </tr>
        </thead>
        <tbody>
        <%
        _.each(specials.queued, function(item, key, list) {
            if (item.status != 0) return; 
            %>
            <tr class="specials_item <% if (!item.active) {%> deactivated <% } %>" id="<%= item.id  %>">
                <td class="specials_name1">
                    <% if (item.image) { %>
                        <img src="<%= item.image %>" />
                    <% } %>                    
                </td>

                <td>
                    <span class="name-wrapper"><%- _.truncate(item.name, 50) %></span>
                </td>
                 
                <td class="specials_store_name1"> 
                    <% if (item.store_name) { %>
                        <%= _.truncate(item.store_name, 50) %>
                    <% } else { %>
                        <%= locale.get('unknown_store') %>
                    <% } %>
                </td>
                
                <td class="specials_website1">
                    <% if (item.website) { %>
                        <a href="<%= item.website %>" target="_blank"><%= _.truncate(item.website, 24)  %></a>
                    <% } else { %>
                        <%= locale.get('no_website') %>
                    <% } %>
                </td>
                
                <td class="specials_date1 <% if (new Date().getTime() > moment(item.endsAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').valueOf()) {%> specials_expired<% } %>"><%= moment(item.createdAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').format('D MMMM YYYY') %></td>

                <td class="specials_date1 <% if (new Date().getTime() > moment(item.endsAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').valueOf()) {%> specials_expired<% } %>"><%= moment(item.endsAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').format('D MMMM YYYY') %></td>

                <td>
                    <span><%= item.views %></span>
                </td>                
            </tr>
            <%
        });
        %>

        </tbody>
        </table>
        
        <% if (specials.queued.length >= 20000) { %><button class="button load_more" id="specials_queued_load_more"><%= locale.get('load_more') %></button><% }
        
        } else {
        %>

        <div class="no_specials"><%= locale.get('no_queued_specials') %></div>

        <%
        } 
        %>
    </div>

    <div class="specials_list specials_list_declined">  
        
        <%
        if (specials.declined.length) { 
        %>
        <table class="table_specials_list display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Special name</th>
                <th>Store</th>
                <th>Website</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Views</th>
            </tr>
        </thead>
        <tbody>
        <%
        _.each(specials.declined, function(item, key, list) {
            if (item.status != 2) return; 
            %>
            <tr class="specials_item <% if (!item.active) {%> deactivated <% } %>" id="<%= item.id  %>">
                <td class="specials_name1">
                    <% if (item.image) { %>
                        <img src="<%= item.image %>" />
                    <% } %>                    
                </td>

                <td>
                    <span class="name-wrapper"><%- _.truncate(item.name, 50) %></span>
                </td>
                 
                <td class="specials_store_name1"> 
                    <% if (item.store_name) { %>
                        <%= _.truncate(item.store_name, 50) %>
                    <% } else { %>
                        <%= locale.get('unknown_store') %>
                    <% } %>
                </td>
                
                <td class="specials_website1">
                    <% if (item.website) { %>
                        <a href="<%= item.website %>" target="_blank"><%= _.truncate(item.website, 24)  %></a>
                    <% } else { %>
                        <%= locale.get('no_website') %>
                    <% } %>
                </td>
                
                <td class="specials_date1 <% if (new Date().getTime() > moment(item.endsAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').valueOf()) {%> specials_expired<% } %>"><%= moment(item.createdAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').format('D MMMM YYYY') %></td>

                <td class="specials_date1 <% if (new Date().getTime() > moment(item.endsAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').valueOf()) {%> specials_expired<% } %>"><%= moment(item.endsAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').format('D MMMM YYYY') %></td>

                <td>
                    <span><%= item.views %></span>
                </td>                
            </tr>
            <%
        });
        %>

        </tbody>
        </table>
        
        <% if (specials.declined.length >= 20000) { %><button class="button load_more" id="specials_declined_load_more"><%= locale.get('load_more') %></button><% }
        
        } else {
        %>

        <div class="no_specials"><%= locale.get('no_declined_specials') %></div>

        <%
        } 
        %>
    </div>

    <div class="specials_list specials_list_expired">
        
        <%
        if (specials.expired.length) { 
        %>
        <table class="table_specials_list display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Special name</th>
                <th>Store</th>
                <th>Website</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Views</th>
            </tr>
        </thead>
        <tbody>
        <%
        _.each(specials.expired, function(item, key, list) {
            %>
            <tr class="specials_item <% if (!item.active) {%> deactivated <% } %>" id="<%= item.id  %>">
                <td class="specials_name1">
                    <% if (item.image) { %>
                        <img src="<%= item.image %>" />
                    <% } %>                    
                </td>

                <td>
                    <span class="name-wrapper"><%- _.truncate(item.name, 50) %></span>
                </td>
                 
                <td class="specials_store_name1"> 
                    <% if (item.store_name) { %>
                        <%= _.truncate(item.store_name, 50) %>
                    <% } else { %>
                        <%= locale.get('unknown_store') %>
                    <% } %>
                </td>
                
                <td class="specials_website1">
                    <% if (item.website) { %>
                        <a href="<%= item.website %>" target="_blank"><%= _.truncate(item.website, 24)  %></a>
                    <% } else { %>
                        <%= locale.get('no_website') %>
                    <% } %>
                </td>
                
                <td class="specials_date1 <% if (new Date().getTime() > moment(item.endsAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').valueOf()) {%> specials_expired<% } %>"><%= moment(item.createdAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').format('D MMMM YYYY') %></td>

                <td class="specials_date1 <% if (new Date().getTime() > moment(item.endsAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').valueOf()) {%> specials_expired<% } %>"><%= moment(item.endsAt, 'YYYY-MM-DD\THH:mm:ss.SSS\Z').format('D MMMM YYYY') %></td>

                <td>
                    <span><%= item.views %></span>
                </td>                
            </tr>
            <%
        });
        %>

        </tbody>
        </table>
        
        <% if (specials.expired.length >= 20000) { %><button class="button load_more" id="specials_expired_load_more"><%= locale.get('load_more') %></button><% }
        
        } else {
        %>

        <div class="no_specials"><%= locale.get('no_expired_specials') %></div>

        <%
        } 
        %>
    </div>
</div>