<div class="bulk_results buy_tokens">

    <div class="list_header">
        <%= locale.get('get_more_tokens') %>
    </div>

    <div id="start_section">
        <div class="bulk_upload_text" style="margin-bottom: 30px;">
            <%= locale.get('buy_tokens_text') %>
        </div>

        <div class="bulk_upload_text" style="margin-bottom: 30px;">
            <%= locale.get('buy_tokens_text_2') %>
        </div>

        <div class="tokens_num">
            <label>
                <%= locale.get('buy_tokens') %>
            </label>

            <select id="tokens" onchange="$('#price_total').html($(this).val()); $('#price_single').html( ( $(this).val() / $(this).find('option:selected').data('value') ).toFixed(2) );">
                <option data-value="5" value="36.60">
                    <%= locale.get('tokens_5') %>
                </option>
                <option data-value="12" value="73.20">
                    <%= locale.get('tokens_10') %>
                </option>
                <option data-value="25" value="146.40">
                    <%= locale.get('tokens_20') %>
                </option>
                <!--<option data-value="10" value="50" selected>
                    10 tokens
                </option>
                <option data-value="20" value="100">
                    20 tokens
                </option>
                <option data-value="50" value="250">
                    50 tokens
                </option>
                <option data-value="100" value="475">
                    100 tokens
                </option>
                <option data-value="200" value="900">
                    200 tokens
                </option>
                <option data-value="500" value="1875">
                    500 tokens
                </option>
                <option data-value="1000" value="2500">
                    1000 tokens
                </option>-->
            </select>
        </div>

        <div class="tokens_num">
            <label>
                <%= locale.get('buy_tokens_email') %>
            </label>

            <input id="email" type="text" />
        </div>

        <div id="price" class="tokens_price">
            <%= locale.get('total') %>: €<span id="price_total">36.60</span> <!--(€<span id="price_single">5.00</span> <%= locale.get('each') %>)-->
        </div>

        <!--<form method="post" action="https://api-3t.sandbox.paypal.com/nvp" id="paypal">
            <input type=hidden name="USER" value="sdk-three_api1.sdk.com">
            <input type=hidden name="PWD" value="QFZCWN5HZM8VBG7Q">
            <input type=hidden name="SIGNATURE" value="A-IzJhZZjhg29XQ2qnhapuwxIDzyAZQ92FRP5dqBzVesOkzbdUONzmOU">
            <input type=hidden name="VERSION" value="119.0">
            <input type=hidden name="PAYMENTREQUEST_0_PAYMENTACTION" value="Sale">
            <input type=hidden name="PAYMENTREQUEST_0_AMT" value="">
            <input type=hidden name="RETURNURL" value="http://client.stinjee.com/api/paypal/transaction/success">
            <input type=hidden name="CANCELURL" value="http://client.stinjee.com/api/paypal/transaction/cancel">
            <input type=hidden name="METHOD" value="SetExpressCheckout">
        </form>-->

        <div style="text-align: center;">
            <a href="#" class="button pay" onclick="return false"><%= locale.get('pay') %></a>
        </div>
    </div>

    <div id="country_section" style="display: none;">
        <div class="tokens_num">
            <label>
                <%= locale.get('country') %>
            </label>

            <select id="country">
                <%
                _.each(countries, function(item, key, list) {
                %>
                <option value="<%= key %>" <% if (key == locale.getCountry().toUpperCase()) { %> selected <% } %> ><%= locale.get(item) %></option>
                <%
                });
                %>
            </select>
        </div>

        <div style="margin-left: 200px;">
            <a href="#" class="button country_section-back" onclick="return false"><%= locale.get('back') %></a>
            <a href="#" class="button pay" onclick="return false"><%= locale.get('pay') %></a>
        </div>
    </div>

    <div id="nopayment_section" style="display: none">
        <div class="bulk_upload_text" style="margin-bottom: 30px;">
            <%= locale.get('nopayment_text') %>
        </div>

        <div style="text-align: center;">
            <a href="#" class="button pay"><%= locale.get('back') %></a>
        </div>
    </div>

    <div style="text-align: center;">
        <br/>
        <br/>
        <div class="paypal">
            <span><%= locale.get('powered_by') %></span>
            <!--[if (!IE)|(gt IE 8)]> -->
            <img src="/i/paypal_rgb.svg" alt="paypal" />
            <!-- <![endif]-->
            <!--[if lte IE 9]>
            <img src="/i/png/paypal.png" alt="paypal" style="width: 179px;" />
            <![endif]-->

        </div>
    </div>
</div>