<div class="list new_special">
    <div class="list_header"><%= locale.get('reuse_special') %></div>

    
    <div class="field">
        <a href="#" class="q" onclick=" var el = $(this).parent().find('.tooltip'); if (el.is(':visible')) $('.tooltip').hide(); else { $('.tooltip').hide(); el.show(); } return false; "></a>
        <div class="tooltip">
            <%= locale.get('name_field_tooltip') %>
            <div></div>
        </div>
        <label for="specials_name"><%= locale.get('special_name') %></label>
        <input type="text" id="specials_name" value="<%= special.name %>"  placeholder="Enter a title" />
    </div>
    
    <div class="field">
        <a href="#" class="q" onclick=" var el = $(this).parent().find('.tooltip'); if (el.is(':visible')) $('.tooltip').hide(); else { $('.tooltip').hide(); el.show(); } return false; "></a>
        <div class="tooltip">
            <%= locale.get('description_field_tooltip') %>
            <div></div>
        </div>
        <label for="specials_description"><%= locale.get('description') %></label>
        <textarea id="specials_description"  placeholder="Enter a description"><%= special.description %></textarea>
    </div>

    <div class="field">
        <a href="#" class="q" onclick=" var el = $(this).parent().find('.tooltip'); if (el.is(':visible')) $('.tooltip').hide(); else { $('.tooltip').hide(); el.show(); } return false; "></a>
        <div class="tooltip">
            <%= locale.get('store_field_tooltip') %>
            <div></div>
        </div>
        <label for="specials_name"><%= locale.get('store_name') %></label>
        <input type="text" id="specials_store" value="<%= special.storeName %>" />
        
        <div class="map">
            <div id="map"></div>
            <div class="foreground"></div>
        </div>
    </div>

    <div class="field">
        <a href="#" class="q" onclick=" var el = $(this).parent().find('.tooltip'); if (el.is(':visible')) $('.tooltip').hide(); else { $('.tooltip').hide(); el.show(); } return false; "></a>
        <div class="tooltip">
            <%= locale.get('address_field_tooltip') %>
            <div></div>
        </div>
        <label for="specials_addres"><%= locale.get('address') %></label>
        <input type="text" id="specials_addres" value="<%= special.addres %>"  placeholder="London, England" />
        <input type="hidden" id="specials_country" value="<%= special.country %>" />
        <input type="hidden" id="specials_country_code"  value="<%= special.country_code %>" />
    </div>

    <div class="field">
       <a href="#" class="q" onclick=" var el = $(this).parent().find('.tooltip'); if (el.is(':visible')) $('.tooltip').hide(); else { $('.tooltip').hide(); el.show(); } return false; "></a>
        <div class="tooltip">
            <%= locale.get('website_field_tooltip') %>
            <div></div>
        </div>
        <label for="specials_website"><%= locale.get('website') %></label>
        <input type="text" id="specials_website" value="<%= special.site %>" placeholder="http://" />
    </div>

    <!--<div class="field">
        <a href="#" class="q" onclick=" var el = $(this).parent().find('.tooltip'); if (el.is(':visible')) $('.tooltip').hide(); else { $('.tooltip').hide(); el.show(); } return false; "></a>
        <div class="tooltip">
            <%= locale.get('facebook_field_tooltip') %>
            <div></div>
        </div>
        <label for="specials_facebook"><%= locale.get('facebook_page') %></label>
        <input type="text" id="specials_facebook" value="<%= special.facebook %>" placeholder="http://" />
    </div>-->

    <div class="field">
        <a href="#" class="q" onclick=" var el = $(this).parent().find('.tooltip'); if (el.is(':visible')) $('.tooltip').hide(); else { $('.tooltip').hide(); el.show(); } return false; "></a>
        <div class="tooltip">
            <%= locale.get('phone_field_tooltip') %>
            <div></div>
        </div>
        <label for="specials_phone"><%= locale.get('phone_number') %></label>
        <input type="text" id="specials_phone" value="<%= special.phone %>" placeholder="" />
    </div>

    <div class="field">
         <a href="#" class="q" onclick=" var el = $(this).parent().find('.tooltip'); if (el.is(':visible')) $('.tooltip').hide(); else { $('.tooltip').hide(); el.show(); } return false; "></a>
        <div class="tooltip">
            <%= locale.get('image_field_tooltip') %>
            <div></div>
        </div>
        <label for="specials_image"><%= locale.get('image') %></label>
        
        <div class="image_holder">
            <input type="file" id="specials_image" value="" />
            
            <% if (special.image) { %>
                <div class="image">
                    <img src="<%= special.image %>" />
                    <i onclick="$('.image').remove();">x</i>
                </div>
            <% } %>
        </div>
        
    </div>

    <div class="field">
        <a href="#" class="q" onclick=" var el = $(this).parent().find('.tooltip'); if (el.is(':visible')) $('.tooltip').hide(); else { $('.tooltip').hide(); el.show(); } return false; "></a>
        <div class="tooltip">
            <%= locale.get('admin_field_tooltip') %>
            <div></div>
        </div>
        <label for="specials_image"><%= locale.get('let_admin_choose_photo') %></label>
        <input type="checkbox" id="specials_admin_image" value="" <% if (special.letAdminChooseImage) { %> checked <% } %>/>
    </div>    

    <div class="field">
        <a href="#" class="q" onclick=" var el = $(this).parent().find('.tooltip'); if (el.is(':visible')) $('.tooltip').hide(); else { $('.tooltip').hide(); el.show(); } return false; "></a>
        <div class="tooltip">
            <%= locale.get('valid_for_field_tooltip') %>
            <div></div>
        </div>
        <label for="specials_image"><%= locale.get('valid_for_days') %></label>
        <select id="specials_days">
            <option>7</option>
            <option <% if (special.validFor === 6) { %> selected <% } %>>6</option>
            <option <% if (special.validFor === 5) { %> selected <% } %>>5</option>
            <option <% if (special.validFor === 4) { %> selected <% } %>>4</option>
            <option <% if (special.validFor === 3) { %> selected <% } %>>3</option>
            <option <% if (special.validFor === 2) { %> selected <% } %>>2</option>
            <option <% if (special.validFor === 1) { %> selected <% } %>>1</option>
        </select>
    </div>
    
    <input type="hidden" id="source_id" value="<%= reuse_id %>" />
    
    <div class="field" <% if (batch.get('tokensNum') > batch.get('specialsNum')) { %> style="display: none"<% } %>>
        <a href="#" class="q" onclick=" var el = $(this).parent().find('.tooltip'); if (el.is(':visible')) $('.tooltip').hide(); else { $('.tooltip').hide(); el.show(); } return false; "></a>
        <div class="tooltip">
            <%= locale.get('batch_field_tooltip') %>
            <div></div>
        </div>
        <label for="specials_token"><%= locale.get('batch_id') %></label>
        <input type="text" id="specials_batch" value="" class="additional" />
    </div>
    
    <div class="field">
        <a href="#" class="q" onclick=" var el = $(this).parent().find('.tooltip'); if (el.is(':visible')) $('.tooltip').hide(); else { $('.tooltip').hide(); el.show(); } return false; "></a>
        <div class="tooltip">
            <%= locale.get('token_field_tooltip') %>
            <div></div>
        </div>
        <label for="specials_token"><%= locale.get('token_id') %></label>
        <input type="text" id="specials_token" value="" class="additional" />
    </div>

    <div class="field_buttons">
        <a href="#!/specials_list/all" class="button"><%= locale.get('cancel') %></a> 
        <input type="button" id="specials_confirm" value="<%= locale.get('submit_special_for_approval') %>" />
    </div>
    
    
</div> 